<section class="catalog" id="catalog">
  <div class="container">
    <div class="catalog__top">
      <h2 class="title catalog__title">Репродукции</h2>
      <ul class="list-reset catalog-tabs">
        <li class="catalog-tabs__item">
          <button class="btn-reset catalog-tabs__btn catalog-tabs__btn--active" data-country="France">Франция</button>
        </li>
        <li class="catalog-tabs__item">
          <button class="btn-reset catalog-tabs__btn" data-country="Germany">Германия</button>
        </li>
        <li class="catalog-tabs__item">
          <button class="btn-reset catalog-tabs__btn" data-country="Anglia">Англия</button>
        </li>
      </ul>
    </div>
  </div>
</section>
