<section class="hero">
  <div class="container grid">
    <picture class="hero__image">
      <source srcset="img/hero-img.webp" type="image/webp">
      <img loading="lazy" src="img/hero-img.png" class="image" width="" height="" alt="">
    </picture>
    <div class="hero__content">
      <h1 class="hero__title"> Реплики картин от
        <span>Ink. House</span>
      </h1>
      <p class="hero__descr">
        Высокое качество отрисовки на&nbsp;плотной бумаге или льняном холсте. Редкие произведения, доступные цены.
      </p>
      <a href="" class="btn btn--stroke hero__link">Продукция</a>
    </div>
  </div>
</section>
